/.Rproj.user
/envr
/python
/rsconnect
location_db.CSV
IP2LOCATION-LITE-DB5.BIN
IP2LOCATION-LITE-DB5.IPV6.BIN
Laone Tsheole CET333 Practitioners statement.docx
modelfunolympic.Rmd
app.R
.Rproj.user/
envr/
python/
rsconnect/
